@model List<API.Entities.Folder>
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" id="mainDiv" style="margin-top:50px;">
    <label>Choose Folder</label>
    <br />
    @Html.DropDownList("Directory", new SelectList(Model, "Path", "Name"))
    <br />
    <br />
    <label>Enter keyword to search</label>
    <br />
    <input type="text" id="keyword" />
    <input type="button" id="sendKeyword" value="Search" />
    <div id="searchResults">
        <ul></ul>
    </div>
</div>
@section scripts {
    <script src="~/Scripts/jquery.signalR-2.2.3.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
        $(function () {
            var Search = $.connection.searchHub;

            Search.client.addNewMessageToPage = function (folder) {
                folder.Files.forEach(function (file) {
                    file.Matches.forEach(function (match) {
                        $('#searchResults ul').append('<li><a href="/viva/Results/GetPid?path=' + folder.Name + '\' + ' + file.Name + 'log&row=' + match.PositionY + '&col=' + match.PositionX + '" onclick="SendDetails(event,\'' + escape(file.Path) + '\',\'' + match.PositionY + '\')">' +
                            folder.Name + '\\' +  file.Name +
                            '</a ></li>');
                    });
                });
            }

            $('#keyword').focus();

            $.connection.hub.start().done(function () {
                $('#sendKeyword').click(function () {
                    $('#searchResults ul').empty();
                    $('#PID').hide();
                    Search.server.search($('#keyword').val(), $('#Directory').find(":selected").val(), $('#Directory').find(":selected").text());
                });
            });
        });

        function SendDetails(e, filePath, line) {
            e.preventDefault();

             var data = JSON.stringify({
                 'path': filePath,
                 'lineNumber': line 
               });

            $.ajax({
                    type: "POST",
                    url: '@Url.Action("FindPID", "Home")',
                    data: data,
                    success: function (response) {
                        $('#mainDiv').html(response)
                    },
                    contentType: 'application/json'
             });

        }
    </script>
}

